  <h2>Whisklist</h2></br>
    <h3>Wishlists</h3>
    {{#each wishlists}}
        <pre>{{@index}}. {{this}}</pre>
        <h4>{{name}}</h4>
        
    {{/each}}
    <h3>Products</h3>
    {{#each products}}
        <pre>{{this}}</pre>
        <h4>{{name}} - {{sku}}</h4>
        <h5>Included in</h5>
        <p>Wishlists: {{#each wishlists}}{{this}}{{/each}}</p>
    {{/each}}